html
    head
        title Giudico Status
    style
        include JobsEngGiudicoDeployStatus.css
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.29.2/js/jquery.tablesorter.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.29.2/js/jquery.tablesorter.widgets.min.js")
    script(src="/socket.io/socket.io.js")
    link(rel='stylesheet', href='https://unpkg.com/sakura.css/css/sakura.css')
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
    body
        h1 Engineering Giudico Deploy Status

        div(class="settings")
            div(class="switch-container")
                label(class="switch") Mute change music
                    input(type="checkbox", id="settings-muted", onclick="muteMusic(this);")
        div(class="wrapper")
            table(class="table", id="table")
                thead
                    tr(class="row header")
                        th(class="cell") Service
                        th(class="cell") Author
                        th(class="cell") Status
                        th(class="cell") Time
                tbody
                each doc in listResourceStatus
                    tr(class="row"+((doc.status==="in corso")? " in-corso" : ""))
                        td(class="cell") #{doc.resource}
                        td(class="cell") #{doc.author}
                        td(class="cell") #{doc.status}
                        td(class="cell") #{doc.time}
                //tr(class="row final")
                //    td(class="cell") Total
                //    td(class="cell") #{totalBuildSh}
                //    td(class="cell") #{totalSwaggerPy}
                //    td(class="cell") #{(totalBuildSh + totalSwaggerPy) * 5}.00€

        a(href="/") Back to home

        script.

            $('#table').tablesorter({
                widgets: ["saveSort"]
            });

            var socketIo = io();
            var settingsStorageKeys = {
                mute: 'settings:muted'
            };

            var mute = localStorage.getItem(settingsStorageKeys.mute) == 'true';
            document.getElementById("settings-muted").checked = mute;

            var muteMusic = function (checkbox) {
                mute = checkbox.checked;
                localStorage.setItem(settingsStorageKeys.mute, mute);
            }

            var pageReload = function () {
                location.reload();
            }

            socketIo.on('gdsc', function (status) {
                console.log('Deploy status change', status);
                if (mute) {
                    pageReload();
                } else {
                    var audio = new Audio("/assets/change.ogg");
                    audio.addEventListener('ended', function () {
                        console.log('ended');
                        pageReload();
                    });
                    audio.play();
                }
            })