html
    head
        title Giudico Status
    style
        include JobsEngGiudicoDeployStatus.css
    link(rel='stylesheet', href='https://unpkg.com/sakura.css/css/sakura.css')
    body

        include xmas-lights.pug

        h1(class="christmas-font") Engineering Giudico Deploy Status

        div(class="wrapper")
            table(class="table")
                tr(class="row header")
                    th(class="cell") Service
                    th(class="cell") Author
                    th(class="cell") Status
                    th(class="cell") Time
                each doc in listResourceStatus
                    tr(class="row"+((doc.status==="in corso")? " in-corso" : ""))
                        td(class="cell") #{doc.resource}
                        td(class="cell") #{doc.author}
                        td(class="cell") #{doc.status}
                        td(class="cell") #{doc.time}
                //tr(class="row final")
                //    td(class="cell") Total
                //    td(class="cell") #{totalBuildSh}
                //    td(class="cell") #{totalSwaggerPy}
                //    td(class="cell") #{(totalBuildSh + totalSwaggerPy) * 5}.00€

        a(class="christmas-font", href="/") Back to home

        include xmas-footer.pug